<!DOCTYPE html>
<html lang="en">
<head>
    <title>IA project</title>
</head>
<body>
    <form action="/Candidates/signup" method="POST">
        <div>
            <input type="text" name="email" placeholder="Email">            
        </div>
        <div>
            <input type="text" name="number" placeholder="phone number">         
        </div>
        <div>
            <input type="password" name="pass" placeholder="password">
        </div>
        <div>
            <input type="file" name="CV">
        </div>
        <div>
            <input type="submit" value="signIn">
        </div>
    </form>
    
</body>
</html>