.bg1{
	background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
	background-size: cover;
	height: 600px;
}
.nv0{
	margin-left: 900px;
	padding-left: 30px;
	
}
.bg2{
	color: white;
	text-align: center;
	margin-top: 300px;
}
.bt1{
	color: blue;
	text-align: center;
}
