<!DOCTYPE html>
<html>
<head>
	<title>IA project</title>
	<link rel="stylesheet" type="text/css" href="HOME.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-4.0.0/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
	<script type="text/javascript" src="bootstrap-4.0.0/dist/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="fontawesome-free-5.9.0-web/css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="fontawesome-free-5.9.0-web/css/solid.css">
	<link rel="stylesheet" type="text/css" href="fontawesome-free-5.9.0-web/css/brands.css">
</head>
<body>
	
	<div class="bg1">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  			<a class="navbar-brand hd1" href="#">Apper</a>
	  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"></span>
	  			</button>
			    <div class="collapse navbar-collapse nv0" id="navbarNav">
			    <ul class="navbar-nav">
			    <li class="nav-item">
			        <a class="nav-link" href="#">Welcome ahmed </a>
			    </li>
			  	<li class="nav-item">
			        <a class="nav-link" href="#">SIGN OUT</a>
			    </li>
			    </ul>
			  </div>
		</nav>
		<div class="bg2">
			<h2>Find your dream job :)</h2>
		</div>
	</div>
	<div class="bt1">
		<button class="btn btn-outline-warning "><a href="#">Apply</a></button>
		<button class="btn btn-outline-warning " onclick="myFunction()">CV</button>
	</div>
<script>
	function myFunction() {
	  var x = document.createElement("INPUT");
	  x.setAttribute("type", "file");
	  document.body.appendChild(x);
	}
</script
</body>


</html>