<!DOCTYPE html>
<html>
<head>
	<title>IA project</title>
	<link rel="stylesheet" type="text/css" href="signup.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-4.0.0/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
	<script type="text/javascript" src="bootstrap-4.0.0/dist/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="fontawesome-free-5.9.0-web/css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="fontawesome-free-5.9.0-web/css/solid.css">
	<link rel="stylesheet" type="text/css" href="fontawesome-free-5.9.0-web/css/brands.css">
</head>
<body class="body">
	<div class="bg1">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  			<a class="navbar-brand hd1" href="file:///C:/Users/ahmed/Desktop/Ia%20project/index.html">Apper</a>
	  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"></span>
	  			</button>
			    
		</nav>
	</div>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Sign Up</h3>
					<div class="d-flex justify-content-end social_icon">
						<span><i class="fab fa-facebook-square"></i></span>
						<span><i class="fab fa-google-plus-square"></i></span>
						<span><i class="fab fa-twitter-square"></i></span>
					</div>
				</div>
				<div class="card-body">
					<form>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="username">
							
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Email">
							
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="phone number">
							
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" placeholder="password">
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<div class="form-group">
							<input type="submit" value="Login" class="btn float-right login_btn">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						already have an account?<a href="file:///C:/Users/ahmed/Desktop/Ia%20project/login.html">Sign In</a>
					</div>
					<div class="d-flex justify-content-center">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>